<div class="flex flex-col gap-y-2 w-full bg-card p-4 rounded-2xl">

    <app-todo-info class="p-2 rounded-xl bg-secondary" />

    <div class="h-[calc(100vh-500px)] overflow-y-auto">

        @for (todo of todos(); track todo; let last = $last) {

        <div class="flex flex-row items-center gap-y-2 bg-header rounded-2xl p-2" [ngClass]="{
            'mb-1': !last
        }">

            <p class="text-xl truncate">{{todo.title}}</p>

            <div class="flex right-0 ml-auto gap-x-1">

                <button class="text-white rounded-md right-0 ml-auto flex items-center justify-center size-8" [ngClass]="{
                            'bg-pending': todo.completed,
                            'bg-completed': !todo.completed
                        }" (click)="completeTodo(todo)">

                    @if (!todo.completed) {
                    <span class="iconify mdi--tick"></span>
                    } @else {
                    <span class="iconify material-symbols--cancel"></span>
                    }

                </button>

                <button class="bg-delete text-white rounded-md right-0 ml-auto flex items-center justify-center size-8"
                    (click)="deleteTodo(todo)">
                    <span class="iconify material-symbols--delete-outline"></span>
                </button>

            </div>

        </div>

        }

    </div>

</div>