<div class="flex flex-row bg-secondary-header p-2 border border-secondary-text" (click)="collapsed.set(!collapsed())"
    [ngClass]="{
    'rounded-xl shadow-md': !collapsed(),
    'rounded-tl-xl rounded-tr-xl border-b-transparent': collapsed()
}">

    <span class="text-secondary-text text-lg">
        @switch (history().type) {
        @case (stateChangeType.CREATE) {
        <span>Created a todo</span>
        }
        @case (stateChangeType.UPDATE) {
        <span>Updated a todo</span>
        }
        @case (stateChangeType.DELETE) {
        <span>Deleted a todo</span>
        }
        @case (stateChangeType.INITIAL) {
        <span>Initial todo list</span>
        }
        }
    </span>

    @if (collapsed()) {
    <span class="iconify mdi-light--chevron-down size-6 right-0 ml-auto"></span>
    } @else {
    <span class="iconify mdi-light--chevron-right size-6 right-0 ml-auto"></span>
    }

</div>

@if (collapsed()) {
<div class="flex flex-row gap-x-2 justify-between items-center bg-secondary-card p-2 text-secondary-text border border-secondary-text"
    [ngClass]="{
    'rounded-bl-xl rounded-br-xl shadow-md': collapsed()
}">

    @switch (history().type) {

    @case (stateChangeType.CREATE) {

    <div class="flex flex-col">
        <p>{{ history().createdItem?.title }}</p>
        <p class="text-xs">{{ history().description }}</p>
    </div>

    }

    @case (stateChangeType.UPDATE) {

    <div class="flex flex-col">
        <p class="font-bold">{{ history().updatedItem?.title }}</p>
        <p class="text-xs">{{ history().description }}</p>
    </div>

    @if (history().updatedItem?.completed) {
    <div class="bg-green-600 rounded-full size-6 flex items-center justify-center p-1">
        <span class="iconify charm--tick text-white size-full"></span>
    </div>
    } @else {
    <div class="bg-red-600 rounded-full size-6 flex items-center justify-center p-1">
        <span class="iconify hugeicons--cancel-01 text-white size-full"></span>
    </div>
    }

    }

    @case (stateChangeType.DELETE) {

    <div class="flex flex-col">
        <p>{{ history().deletedItem?.title }}</p>
        <p class="text-xs">{{ history().description }}</p>
    </div>

    @if (history().deletedItem?.completed) {
    <div class="bg-green-600 rounded-full size-6 flex items-center justify-center p-1">
        <span class="iconify charm--tick text-white size-full"></span>
    </div>
    } @else {
    <div class="bg-red-600 rounded-full size-6 flex items-center justify-center p-1">
        <span class="iconify hugeicons--cancel-01 text-white size-full"></span>
    </div>
    }

    }

    @case (stateChangeType.INITIAL) {
    <p class="text-xs">{{ history().description }}</p>
    }
    }

</div>
}