<div class="flex flex-row bg-gray-500 p-2 text-white" (click)="collapsed.set(!collapsed())" [ngClass]="{
    'rounded-xl': !collapsed(),
    'rounded-tl-xl rounded-tr-xl': collapsed()
}">

    <span>{{ history().type }}</span>

    @if (collapsed()) {
    <span class="iconify mdi-light--chevron-down size-6 right-0 ml-auto"></span>
    } @else {
    <span class="iconify mdi-light--chevron-right size-6 right-0 ml-auto"></span>
    }

</div>

@if (collapsed()) {
<div class="flex flex-row gap-x-2 justify-between items-center bg-card p-2 text-white opacity-50" [ngClass]="{
    'rounded-bl-xl rounded-br-xl shadow-3xl': collapsed()
}">

    @switch (history().type) {

    @case (stateChangeType.CREATE) {

    <div class="flex flex-col">
        <p>{{ history().createdItem?.title }}</p>
        <p>{{ history().description }}</p>
    </div>

    }

    @case (stateChangeType.UPDATE) {

    <div class="flex flex-col">
        <p>{{ history().updatedItem?.title }}</p>
        <p>{{ history().description }}</p>
    </div>

    @if (history().updatedItem?.completed) {
    <div class="bg-green-600 rounded-full size-6 flex items-center justify-center p-1">
        <span class="iconify charm--tick text-white size-full"></span>
    </div>
    } @else {
    <div class="bg-red-600 rounded-full size-6 flex items-center justify-center p-1">
        <span class="iconify hugeicons--cancel-01 text-white size-full"></span>
    </div>
    }

    }

    @case (stateChangeType.DELETE) {

    <div class="flex flex-col">
        <p>{{ history().deletedItem?.title }}</p>
        <p>{{ history().description }}</p>
    </div>

    @if (history().deletedItem?.completed) {
    <div class="bg-green-600 rounded-full size-6 flex items-center justify-center p-1">
        <span class="iconify charm--tick text-white size-full"></span>
    </div>
    } @else {
    <div class="bg-red-600 rounded-full size-6 flex items-center justify-center p-1">
        <span class="iconify hugeicons--cancel-01 text-white size-full"></span>
    </div>
    }

    }

    @case (stateChangeType.INITIAL) {
    <p>{{ history().description }}</p>
    }
    }

</div>
}