<div class="w-full" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">

    <div fxLayout="row" fxLayoutGap="1rem">

        @for (item of navigationItems; track item.path) {
        <a class="text-2xl font-bold hover:cursor-pointer hover:text-primary" [routerLink]="[item.path]"
            [routerLinkActiveOptions]="item.routerLinkActiveOptions" routerLinkActive="text-primary">{{ item.label
            }}</a>
        }

    </div>

    <span fxFlex></span>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">

        <button
            class="text-2xl font-bold hover:cursor-pointer hover:text-primary size-6 border-2 border-transparent hover:border-primary hover:rounded-full flex items-center justify-center"
            (click)="undoLastChange()">

            <span class="iconify material-symbols--undo"></span>

        </button>

    </div>

</div>